{% extends "layout/base.html" %}
{% load static %}
{% block title %} Enfermedades Congénitas {% endblock %}
{% block content %}
<div class="container">
    <div class="page-header">
      <h1 class="all-tittles">Sistema de gestión <small>enfermedades congénitas</small></h1>
    </div>
</div>
<div class="container-fluid"  style="margin: 50px 0;">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3">
            <img src="{% static 'assets/img/virus.png' %}" alt="calendar" class="img-responsive center-box" style="max-width: 110px;">
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 text-justify lead">
            Bienvenido a esta sección, aquí se muestran todos las enfermedades congénitas en canes registrados hasta la fecha
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 lead">
            <ol class="breadcrumb">
                <li><a href="{% url 'add' %}">Nuevo enfermedad congénita</a></li>
                <li class="active">listado de enfermedades congénitas</li>
            </ol>
        </div>
    </div>
</div>
<div class="container-fluid">
    <h2 class="text-center all-tittles">Listado de enfermedades congénitas</h2>
      <table id="tbldisease" class="table table-bordered table-striped">
        <thead class="div-table-head">
        <tr>
          <th>Raza</th>
          <th>Enfermedad congénita</th>          
          <!--<th>Síntomas</th> -->
          <th>Ver</th>
          <th>Modificar</th>
          <th>Eliminar</th>
        </tr>
        </thead>
        <tbody>                 
            {% if not diseases.isEmpty %}
            {% for disease in diseases %}
            <tr>
               <td>{{disease.race}}</td>
               <td>{{disease.name}}</td>
               <td> 
                   <center>
                        
                        <div class="btn-group">                     
                        <a onclick='readDisease(
                        "{{disease.race}}",
                        "{{disease.name}}",
                        "{{disease.symptom}}",
                        "{{disease.answer}}")' class="btn btn-info" data-toggle="modal" data-target="#read">
                        <span class="glyphicon glyphicon-search"></span>
                        </a>
                        </div>
                    </center>
                </td>        
                <td>
                    <center> 
                        <div class="btn-group">
                        <button onclick="open_modal_update('{% url 'modal_update' disease.id %}')" class="btn btn-warning">
                        <span class="fa fa-pencil"></span>
                        </button>
                        </div>
                    </center>
                </td>       
                <td>
                    <center>                        
                        <div class="btn-group">
                            <a href="{% url 'delete' disease.id%}" class="btn btn-danger">
                                <span class="fa fa-remove"></span>
                            </a>
                        </div>                        
                    </center>
                </td>                      
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
        </table>
    </div>
    <div class="modal fade" id="read">       
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-aqua-active">
                    <h4 class="modal-title">Datos de la Enfermedad Congénita</h4>
                </div>                
                <div class="modal-body">                        
                    <div class="form-group"> 
                        <h5 class="box-title">Enfermedad congénita</h5>
                        <input disabled="" class="form-control" type="text" id="nam_r">
                        <h5 class="box-title">Raza</h5>
                        <input disabled="" class="form-control" type="text" id="rac_r">
                        <h5 class="box-title">Síntomas</h5>
                        <input disabled="" class="form-control" type="text" id="sym_r">
                        <h5 class="box-title">Respuesta</h5>
                        <input disabled="" class="form-control" type="text"  id="ans_r">                    
                    </div>                                  
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Aceptar</button>
                </div>                
            </div>
        </div>        
    </div>
    <div class="modal fade" id="update"></div>
{% endblock %}