{% extends "layout/base.html" %}

{% block title %} Inicio {% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
      <h1 class="all-tittles">Sistema de gestión <small>Inicio</small></h1>
    </div>
</div>
<section class="full-reset text-center" style="padding: 40px 0;">
    <article class="tile">
        <div class="tile-icon full-reset"><i class="zmdi zmdi-trending-up"></i></div>
        <div class="tile-name all-tittles">enfermedades congénitas</div>
        <div class="tile-num full-reset">7</div>
    </article>
    <!--<article class="tile">
        <div class="tile-icon full-reset"><i class="zmdi zmdi-accounts"></i></div>
        <div class="tile-name all-tittles">clientes</div>
        <div class="tile-num full-reset">70</div>
    </article>-->
</section>
{% endblock %}