<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header bg-aqua-active">
            <h4 class="modal-title">Datos de la Enfermedad Congénita</h4>
        </div>                
        <div class="modal-body">                        
            <div class="form-group">                 
                <h5 class="box-title">Raza</h5>
                <input disabled="" class="form-control" type="text" value="{{race}}">
                <h5 class="box-title">Enfermedad congénita</h5>
                <input disabled="" class="form-control" type="text" value="{{name}}">
                <h5 class="box-title">Síntomas</h5>
                <input disabled="" class="form-control" type="text" value="{{symptom}}">
                <h5 class="box-title">Respuesta</h5>
                <input disabled="" class="form-control" type="text" value="{{answer}}">                    
            </div>                                  
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-dismiss="modal">Aceptar</button>
        </div>                
    </div>
</div> 